body {
  font-family: 'Work Sans';
  margin: 0px;
}

.Header {
  width: 100%;
  font-size: 13px;
}

.Header-Menu {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0 5px;
}

.Header-Menu-Wrapper {
  display: flex;
}

.Header-Menu button{
  width:120px;
  height: 35px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: var(--charcoal-grey);
}

a:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  width:200px;
  padding: inherit;
  padding: 10px;
}

.Header-Logo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

main {
  width: 100%; 
  background-color: #f9fafb;
}

.Gradient {
  background-image: linear-gradient(to top, #f9fafb, #000000);
  opacity: 0.05;
}
.Contact-Us {
  font-size: 45px;
  font-weight: 999;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2b292d !important;
  padding:80px; 
}

.Line {
  border-bottom: 2px solid #ddd;
}

.Content {
  width: 100%
}

.Contact-Form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px; 
  padding: 50px 0;
  margin: 0 auto;
}

label {
  width: 155px;
  height: 22px;
  font-size: 13px !important;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #2c3241;
}

input {
  height: 25px;
  padding: 4px;
  margin-bottom: 15px; 
  border: 1px solid #ddd;
}

button {
  height: 38px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #3040c4;
}

textarea {
  padding: 4px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.Bottom-Wrapper {
  display: flex;
  margin: 10px auto 30px;
  width: 80%;
}

.Contact-Bottom {
  display: flex;
  justify-content: space-between;
  background-color:  #ffffff;
  width: 100%;
}

.Contact-Bottom  section {
  display: flex;
  flex-direction: column;
}
 
section a,span {
  font-size: 14px;
  line-height: 1.67;
  color: rgba(43, 41, 45, 0.6);
}

section h4 {
  color: var(--charcoal-grey);
}

footer {
  display: flex;
  background-color:  #ffffff;
  width: 80%;
  margin: 8px auto;
}

footer a {
  font-size: 10px;
  color: rgba(43, 41, 45, 0.6);
}

.Bottom-Line {
  border-top: 1px solid #ddd;
}